@tailwind base;
@tailwind components;
@tailwind utilities;


div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 10px;
}